{% extends 'base.html.twig' %}

{% block body %}

    <div class='row'>
        <div class='col-sm-offset-1 col-sm-10'>
            <div class='row'>
                <h1>Mise à jour d'album</h1>
                {{ form_start(edit_form) }}
                <div class="form-group">
                    {# Génération du label. #}
                    {{ form_label(edit_form.title, "Titre de l'album", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(edit_form.title) }}
                    <div class="col-sm-4">
                        {# Génération de l'input. #}
                        {{ form_widget(edit_form.title, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    {# Génération du label. #}
                    {{ form_label(edit_form.artiste, "Artiste de l'album", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(edit_form.artiste) }}
                    <div class="col-sm-4">
                        {# Génération de l'input. #}
                        {{ form_widget(edit_form.artiste, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {# Génération du label. #}
                    {{ form_label(edit_form.genre, "Genre de l'album", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(edit_form.genre) }}
                    <div class="col-sm-4">
                        {# Génération de l'input. #}
                        {{ form_widget(edit_form.genre, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {# Génération du label. #}
                    {{ form_label(edit_form.support, "Genre de l'album", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {# Affichage des erreurs pour ce champ précis. #}
                    {{ form_errors(edit_form.support) }}
                    <div class="col-sm-4">
                        {# Génération de l'input. #}
                        {{ form_widget(edit_form.support, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
        {{ form_widget(edit_form) }}
    <input type="submit" value="Edit"/>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
