{% extends 'base.html.twig' %}

{% block body %}
    <h1>Albums list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Artiste</th>
                <th>Genre</th>
                <th>Support</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            {% if genre != '' and genre == album.genre %}
            <tr>
                <td><a href="{{ path('_show', { 'id': album.id }) }}">{{ album.id }}</a></td>
                <td>{{ album.title }}</td>
                <td>{{ album.artiste }}</td>
                <td>{{ album.genre }}</td>
                <td>{{ album.support }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('_show', { 'id': album.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('_edit', { 'id': album.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <form class="form-horizontal" action="{{ path('media:_index') }}" method="POST">
        <div class="form-group">
            <select name="genre">
                <option value="Hiphop">Hiphop</option>
                <option value="Soul">Soul</option>
                <option value="Rock">Rock</option>
            </select>
        </div>
        <div class="form-group">
            <input name="submit" type="submit" value="Envoyer le message">
        </div>
    </form>
    <ul>
        <li>
            <a href="{{ path('_new') }}">Create a new album</a>
        </li>
    </ul>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
